{% extends 'templates/base.njk' %}

{% set relative_dir = '../' %}

{% block body %}
  <div id="container" class="container">
    {# TODO(frederickk): Load "no-coast.json" instead of pulling inline. #}
    {% set params = [{
        "id": "arp-on-off",
        "label": "Arpeggiator",
        "channel": 117,
        "default": 0,
        "max": 1
      }, {
        "id": "arp-type",
        "label": "Arpeggiator Type",
        "channel": 119,
        "default": 0,
        "max": 1
      }, {
        "id": "portamento-on-off",
        "label": "Portamento",
        "channel": 65,
        "default": 0,
        "max": 1
      }, {
        "id": "portamento-time",
        "label": "Portamento Time",
        "channel": 5,
        "default": 0,
        "max": 127
      }, {
        "id": "legato-control",
        "label": "Legato Control",
        "channel": 118,
        "default": 0,
        "max": 1
      }, {
        "id": "midi-a-channel",
        "label": "Midi A Channel",
        "channel": 102,
        "default": 16,
        "max": 16
      }, {
        "id": "midi-b-channel",
        "label": "Midi B Channel",
        "channel": 103,
        "default": 16,
        "max": 16
      }, {
        "id": "midi-a-cv",
        "label": "Midi A CV",
        "channel": 104,
        "default": 3,
        "max": 3
      }, {
        "id": "midi-b-cv",
        "label": "Midi B CV",
        "channel": 105,
        "default": 3,
        "max": 3
      }, {
        "id": "midi-a-gate",
        "label": "Midi A Gate",
        "channel": 106,
        "default": 3,
        "max": 3
      }, {
        "id": "midi-b-gate",
        "label": "Midi B Gate",
        "channel": 107,
        "default": 3,
        "max": 3
      }, {
        "id": "midi-a-pitch-bend",
        "label": "Midi A Pitch Bend Scale",
        "channel": 108,
        "default": 0,
        "max": 127
      }, {
        "id": "midi-b-pitch-bend",
        "label": "Midi B Pitch Bend Scale",
        "channel": 109,
        "default": 0,
        "max": 127
      }, {
        "id": "midi-a-pitch-bend",
        "label": "Midi A After Scale",
        "channel": 110,
        "default": 0,
        "max": 127
      }, {
        "id": "midi-b-pitch-bend",
        "label": "Midi B After Scale",
        "channel": 111,
        "default": 0,
        "max": 127
      }, {
        "id": "midi-a-pitch-bend",
        "label": "Midi A Velocity Scale",
        "channel": 112,
        "default": 0,
        "max": 127
      }, {
        "id": "midi-b-pitch-bend",
        "label": "Midi B Velocity Scale",
        "channel": 113,
        "default": 0,
        "max": 127
      }, {
        "id": "midi-clock",
        "label": "Midi Clock",
        "channel": 114,
        "default": 1,
        "max": 1
      }, {
        "id": "tempo-div",
        "label": "Tempo Division",
        "channel": 116,
        "default": 1,
        "max": 127
      }]
    %}

    {% for param in params %}
      <div class="arc__container">
        <div id="{{ param.id }}-name" class="arc__label arc__label--white" data-save="1" contenteditable="true">{{ param.label }}</div>
        <div id="{{ param.id }}-val1-label" class="arc__label">CC Number</div>
        <input id="{{ param.id }}-val1" class="arc__input" data-save="1" value="{{ param.channel }}" />
        <label id="{{ param.id }}-label" class="arc__label" for="{{ param.id }}">{{ param.default }} | {{ param.channel }}</label>
        <input id="{{ param.id }}" name="{{ param.id }}" class="arc" data-save="1" type="range" value="{{ param.default }}" max="{{ param.max }}" />
      </div>
    {% endfor %}

    {% for i in range(0, 5) -%}
      <div class="arc__container">
        <div id="arc{{i + 1}}-name" class="arc__label arc__label--white" data-save="1" contenteditable="true">Arc {{i + 1}}</div>
        <div id="arc{{i + 1}}-val1-label" class="arc__label">CC Number</div>
        <input id="arc{{i + 1}}-val1" class="arc__input" data-save="1" value="{{i + 1}}" />
        <label id="arc{{i + 1}}-label" class="arc__label" for="arc{{i + 1}}">0 | {{i + 1}}</label>
        <input id="arc{{i + 1}}" name="arc{{i + 1}}" class="arc" data-save="1" type="range" value="0" max="127" />
      </div>
    {% endfor %}
  </div>
{% endblock %}
