@import '../sass/mixins';
@import './_input';
@import './_label';

:host {
  width: 100%;

  #group {
    display: inline-flex;
    justify-content: space-between;
    padding: 1em 0 0;
  }

  iron-icon {
    @include iron-icon;
  }

  ::slotted(*) {
    width: 100%;
  }

  ::slotted(select) {
    @include input-base;
    @include select-base;
  }
}
