{% set relative_dir = relative_dir | default('./') %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" href="{{ relative_dir }}images/icon-192.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="{{ relative_dir }}manifest.json" />
    <title>Webmidi Controller</title>
    <link rel="stylesheet" href="{{ relative_dir }}index.css" />
  </head>

  <body>
    <header>
      {#
      <div>
        <label id="midi-input-label" class="controller__label" for="midi-input">Input device</label>
        <select id="midi-input" class="midi-select"></select>
      </div>
      #}
      <div class="header__item">
        <span class="material-icons">settings_input_svideo</span>
        <select id="midi-output" class="midi-select"></select>
      </div>
      <div class="header__item">
        <span class="material-icons">piano</span>
        <select id="control-template" onchange="window.location.assign(`${this.value}`)">
          <option value="{{ relative_dir }}" {%- if request.url == '' %}selected{% endif -%}>General</option>
          <option value="{{ relative_dir }}no-coast/" {%- if 'no-coast' in request.url %}selected{% endif -%}>0-Coast</option>
          <option value="{{ relative_dir }}eyesy/" {%- if 'eyesy' in request.url %}selected{% endif -%}>Eyesy</option>
        </select>
      </div>
      <div class="header__group header__group--right">
        <button id="save-button" class="button"><span class="material-icons">tune</span><span class="button__desc"> Save</span></button>
        <button id="clear-button" class="button"><span class="material-icons">delete</span><span class="button__desc"> Clear</span></button>
      </div>
      {% block header %}{% endblock %}
    </header>

    {% block body %}{% endblock %}

    <script src="{{ relative_dir }}index.js"></script>
  </body>
</html>