{% set relative_dir = relative_dir | default('./') %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" href="{{ relative_dir }}images/icon-192.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="{{ relative_dir }}manifest.json" />
    <title>Webmidi Controller</title>
    <link rel="stylesheet" href="{{ relative_dir }}index.css" />
  </head>

  <body>
    <header class="container">
      {#
      <controller-group icon="icons:arrow-downward">
        <select id="midi-input"></select>
      </controller-group>
      #}

      <controller-group icon="icons:arrow-upward">
        <select id="midi-output"></select>
      </controller-group>

      <controller-group icon="image:music-note">
        {# TODO(frederickk): Make to loading/saving of parameter template possible. #}
        <select id="control-template" onchange="window.location.assign(`${this.value}`)">
          <option value="{{ relative_dir }}" {%- if request.url == '' %}selected{% endif -%}>General</option>
          <option value="{{ relative_dir }}no-coast/" {%- if 'no-coast' in request.url %}selected{% endif -%}>0-Coast</option>
          <option value="{{ relative_dir }}eyesy/" {%- if 'eyesy' in request.url %}selected{% endif -%}>Eyesy</option>
          <option value="{{ relative_dir }}opz/" {%- if 'opz' in request.url %}selected{% endif -%}>OP-Z</option>
        </select>
      </controller-group>

      <controller-group class="align--right">
        <div>
          {# TODO(frederickk): Add "bang all" to trigger all params simultaneously. #}
          <controller-button id="save-button" icon="image:tune" title="Save"></controller-button>
          <controller-button id="clear-button" icon="icons:delete" title="Clear" onclick="localStorage.clear();"></controller-button>
        </div>
      </controller-group>
      {% block header %}{% endblock %}
    </header>

    {% block body %}{% endblock %}

    <script src="{{ relative_dir }}index.js"></script>
  </body>
</html>