@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Material+Icons&display=swap');
@import 'sass/mixins';

:root {
  --background: #000;
  --light-background: #222;
  --light-background--hover: #333;
  --border-radius: 4px;
  --type-color: #aaa;
  --type-color--hover: #fff;
  --error-color: #f00;
  --transition-ms: 100ms;
}

body {
  background-color: var(--background, #000);
  color: var(--type-color, #aaa);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  @include mq-min(768px) {
    max-height: 70px;
  }

  align-items: center;
  background: var(--background, #000);
  justify-content: space-between;
  margin-top: 0 !important;
  max-height: 100px;
  overflow: hidden;
  position: fixed;
  z-index: 1000;

  & .align--right {
    justify-content: flex-end;
    text-align: right;
  }

  controller-group {
     @include mq-min(768px) {
      flex: 1;
    }

    flex: 2;
    margin: 0 1vw;
  }
}

.container {
  @include mq-min(768px) {
    margin-top: 100px;
  }

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 70px;
  overflow-x: hidden;
  padding: 0 1vw 1vw;
  width: 100%;
}