{% extends 'templates/base.njk' %}

{% block body %}
  <div id="container" class="container">
    {% for i in range(0, 16) -%}
      <controller-container>
        <controller-header id="controller{{i + 1}}">
          <div id="controller{{i + 1}}-name" data-save="innerText" contenteditable="true">Controller {{i + 1}}</div>
        </controller-header>

        <controller-input id="controller{{i + 1}}-channel" for="controller{{i + 1}}" data-attr="channel" value="1" min="1" max="16">
          Channel
        </controller-input>

        <controller-input id="controller{{i + 1}}-cc" for="controller{{i + 1}}" data-attr="ccnum" value="{{i + 1}}">
          CC Number
        </controller-input>

        <controller-slider id="controller{{i + 1}}-slider" name="controller{{i + 1}}" data-attr="cc" ccnum="{{i + 1}}" channel="1"></controller-slider>
      </controller-container>
    {% endfor %}
  </div>
{% endblock %}