// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Material+Icons&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Material+Icons&display=swap');

@import 'sass/mixins';
@import 'sass/controller';
@import 'sass/header';


:root {
  --background: #000;
  --light-background: #222;
  --light-background--hover: #333;
  --border-radius: 4px;
  --type-color: darkgray;
  --type-color--hover: white;
  --error-color: red;
}

body {
  background-color: var(--background);
  color: var(--type-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'DM Mono'; //'IBM Plex Mono', monospace;
  font-size: 14px;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.material-icons {
  font-size: 16px;
  line-height: 0;
  vertical-align: middle;
}

.container {
  @include mq-min(600px) {
    margin-top: 100px;
  }

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 70px;
  overflow-x: hidden;
  padding: 1vw;
  width: 100%;
}

select,
.button,
.midi-select {
  @include mq-min(600px) {
    padding: 1em;
    max-width: none;
  }

  background-color: var(--light-background);
  color: var(--type-color);
  cursor: pointer;
  border: 0;
  border-radius: var(--border-radius);
  font-family: inherit;
  font-size: inherit;
  flex: 2;
  margin: 0;
  max-width: 20vw;
  overflow: hidden;
  padding: .5em;
  text-overflow: ellipsis;
  transition: color 100ms ease-in-out;

  &:hover {
    color: var(--type-color--hover);
  }

  &:empty {
    background-color: var(--error-color);
    color: var(--type-color--hover);
  }

  &__desc {
    @include mq-min(600px) {
      display: inline-flex;
    }

    display: none;
    margin: 0 1ch;
    vertical-align: middle;
  }
}

.button {
  background-color: var(--background);
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;

  &:hover {
    background-color: var(--light-background);
  }
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--type-color);
    border-radius: 50%;
    cursor: pointer;
    height: 2em;
    transition: background-color 100ms ease-in-out;
    width: 2em;

    &:hover {
      background-color: var(--type-color--hover);
    }
  }

  &::-webkit-slider-runnable-track {
    background: var(--light-background);
    border-radius: 1em;
    cursor: pointer;
    height: 2em;
    transition: background-color 100ms ease-in-out;

    &:hover {
      background-color: var(--light-background--hover);
    }
  }

  &::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    width: 100%;
  }
}