<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" href="/images/icon-192.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="manifest.webmanifest" />
    <title>Webmidi Controller</title>
    <link rel="stylesheet" href="./index.scss" />
  </head>

  <body>
    <header>
      {#
      <div>
        <label id="midi-input-label" class="arc__label" for="midi-input">Input device</label>
        <select id="midi-input" class="midi-select"></select>
      </div>
      #}
      <div>
        <label id="midi-output-label" class="arc__label" for="midi-output">Output device</label>
        <select id="midi-output" class="midi-select"></select>
      </div>
      <div>
        <label id="save-button-label" class="arc__label" for="save-button">&nbsp;</label>
        <input id="save-button" class="button" type="button" value="Save Settings" />
      </div>
      <div>
        <label id="clear-button-label" class="arc__label" for="clear-button">&nbsp;</label>
        <input id="clear-button" class="button" type="button" value="Clear Settings" />
      </div>
    </header>

    <div id="container" class="container">
      {% for i in range(0, 12) -%}
        <div class="arc__container">
          <div id="arc{{i + 1}}-name" class="arc__label arc__label--white" data-save="1" contenteditable="true">Arc {{i + 1}}</div>
          <div id="arc{{i + 1}}-val1-label" class="arc__label">CC Number</div>
          <input id="arc{{i + 1}}-val1" class="arc__input" data-save="1" value="{{i + 1}}" />
          <label id="arc{{i + 1}}-label" class="arc__label" for="arc{{i + 1}}">0 | {{i + 1}}</label>
          <input id="arc{{i + 1}}" name="arc{{i + 1}}" class="arc" data-save="1" type="range" value="0" max="127" />
        </div>
      {% endfor %}
    </div>

    <script src="./index.ts"></script>
  </body>
</html>